.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Select-control {
  border-radius: 17px;
}

.searchHeader {
  width: 70%;
  margin: auto
}

.score {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #2877af;
  border-radius: 100px;
  color: white;
  vertical-align: middle;
  padding: 12px;
  right: 64px;
  bottom: 37px;
  text-align: center;
}

.page-heading {
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

span {
  color: #7e7c7c
}

.info {
  position: absolute;
  bottom: 43px;
  margin-left: 16px;
  width: 48%;
}